.quote{
	position:relative;
	padding:20px;
}
.blk1, .blk2{
	font-family:kristen itc;
	text-indent:5%;
	text-align:justify;
	line-height:2em;
}
.mainarticle{
	position:relative;
	top:600px;
}
.learn{
	box-shadow:inset 0px 0px 10px #fff;
	border-radius:60px 20px 60px 20px;
	position:absolute;
	left:550px;
	padding:20px;
	font-family:kristen itc;
	text-decoration:none;
	background-color:#23af78;
	
}
.recipe{
	text-decoration:none;
	color:white;
	text-shadow:0px 0px 10px #333;
}
.recipe:hover{
	color:deeppink;	
	text-shadow:2px 2px 2px #ddd;
}
