.article{
	background-color:white;
	border:5px double #23af78;
	box-shadow:inset 0px 0px 10px #000;
	width:1220px;
	position:relative;
	left:80px;
	top:96px;
	padding:20px;
	height:auto;
}
#kinds{margin-bottom:40px;
	border-bottom:2px solid #000;
	border-radius:50px;
	background-color:#23af78;
}
#soups, #stews{
	width:380px;
	float:left;
}
a.kinds{text-decoration:none;
	color:white;
}
a.kinds:hover{
	color:deeppink;
	text-shadow:2px 2px 2px #000;
}
h2{font-family:kristen itc;text-align:center;}
h1{font-family:kristen itc;
	font-size:300%;
	text-align:center;
	padding:10px 0px 10px 0px;
}
.ol2 li{font-size:120%;}
p, h3{font-size:120%;}
.ans{}